{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="mt-5">
        <h1>KNOWLEDGE LEARNING</h1>
        <p class="ms-3 mt-3" >
            La société Knowledge, spécialisée dans l’édition de livres de formation développe 
            son offre de formation, en proposant une plateforme e-learning à ses clients, sur laquelle ils 
            pourront étudier de chez eux et en toute autonomie.
        </p>
    </div>

{% endblock %}
